:root {
  --font-title: "Anton";
  --font-input: "Manrope", system-ui, -apple-system, "Segoe UI", Roboto, Arial,
    sans-serif;
}

.bg-header {
  object-fit: cover;
}
header {
  min-height: 50vh;
  max-height: 65vh;
  background-image: url("../assets/bg-header.webp");
  background-size: cover;
  background-position: center;
}

//  yellow-primary: #FFD15B

.header--title {
  font-family: var(--font-title);
  font-size: 44px;
}

.search-bar {
  border-radius: 11px;

  &--input {
    width: 62vw;
    height: 72px;
    border: none;
    border-radius: 11px;
    padding-left: 2.5vw;
    font-family: var(--font-input);
  }
  &--input:focus {
    outline: none;
  }

  &--btn {
    // background-color: black;
    width: 51px;
    height: 52px;
    border-radius: 10px;
    margin: 10px;
  }
  &--cancel {
    border: none;
    visibility: hidden;
  }
}
