.bg-header {
  object-fit: cover;
}
 header {
  max-width: 100vw;
  height: 65vh;
  background-image: url("../assets/f90e7bb5ff2950597c1f7f1fce40bd5b03a3d836.jpg");
  background-size: cover;
  background-position: center;
 }
