:root {
  --font-title: "Anton";
  --font-text: "Manrope", system-ui, -apple-system, "Segoe UI", Roboto, Arial,
    sans-serif;
}

h1, h2, h3 {
  font-family: var(--font-title);
}
P, li, input, div {
  font-family: var(--font-text);
}

.bg-header {
  object-fit: cover;
}
header {
  // min-height: 50vh;
  height: 667px;
  background-image: url("../assets/bg-header.webp");
  background-size: cover;
  background-position: center;
  // margin-bottom: 131px;
}

//  yellow-primary: #FFD15B

.header--title {
  font-size: 44px;
}

.search-bar {
  border-radius: 11px;
  max-width: 66vw;

  &--input {
    width: 62vw;
    height: 72px;
    border: none;
    border-radius: 11px;
    padding-left: 2.5vw;
  }
  &--input:focus {
    outline: none;
  }

  &--btn {
    width: 51px;
    height: 52px;
    border-radius: 10px;
    margin: 10px;
  }
  &--cancel {
    border: none;
    visibility: hidden;
  }
}

.search-aside {
  padding: 2.5vh 7vw;
}

.div-filter {
  height: 56px;
  border-radius: 11px;
}

.search-aside {
  .div-filter + .div-filter {
    margin-left: 4vw;
  }
}

.list-container {
  overflow: auto;
  scrollbar-width: none;
  white-space: normal;
  max-height: 220px;
}

.filter-header {
  width: 13.5vw ;
  height: 6.5vh;
}

.filterName {
  font-size: 16px;
  font-weight: 600;
}

.search-input {
width: 163px;
height: 36px;
}

.item-list {
  list-style: none;
}

.open {
  width: 195px;
  height: 315px;
}

.count-div {
  right: 100px;
  align-self: center;
  top: 5vh;
}

.count-text {
  font-size: 21px;
  font-weight: 400;
}


// DIV TAG

.tag-list {
  list-style: none;
  padding-left: 7vw;
}

.close-img {
  width: 10px;
}

.tag {
  width: min-content;
  padding: 18px;
  width: 13.5vw ;
  height: 6.5vh;
  border-radius: 11px;
  font-size: 14px;
  font-weight: 500;
}

.cut-tag {
  width: min-content;
  border: none;
  background-color: transparent;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2vh 6vw 0 6vw;
  grid-gap: 7vh 1vw;
  place-items: center;
}

.recipe-card {
  width: 380px;
  border-radius: 21px;
  height: fit-content;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
}

.recipe-image {
  width: 380px;
  height: 253px;
  object-fit: cover;
  border-radius: 21px 21px 0 0;

}

  .time-tag {
    top: 2vh;
    right: 1.5vw;
    width: 4.5vw;
    height: 3vh;
    font-size: 12px;
    font-weight: 400;
}

.recipe-container {

  &--title {
  font-size: 18px;
}
  &---description {
  width: 100%;
  max-height: 80px;
  white-space: normal;
  overflow: auto;
  scrollbar-width: none;
  word-wrap: break-word;
  font-size: 14px;
}
&--recette, &--ingredients {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}

}

/* Chrome, Safari, Edge (Chromium) */
.scrollbox::-webkit-scrollbar {
  width: 0;
  height: 0;
  /* ou: display: none; (selon versions) */
}

.list {
  height: 11rem;
  list-style: none;
  display: grid;
  grid-template-columns: 55% 45% ;

  &--item {
    font-weight: 500;
    font-size: 14px;
  }

  &--details {
    font-weight: 400;
    font-size: 14px;

  }


}
